<!DOCTYPE html>

<html lang="en">
  
  <head>

    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width" />
        
    <link rel="stylesheet" href="../static/css/bootstrap.css"  type="text/css">
    <link rel="stylesheet" href="../static/css/bootstrap-responsive.css"  type="text/css">
    <link rel="stylesheet" href="../static/css/app.css"  type="text/css">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <title>targaryen</title>

  </head>

  <body>
    
    <div class="container">

      <section class="masthead">        
        <ul class="nav nav-pills pull-right">          
          <li><a href="/">About</a></li>
          <li><a href="mailto:srinivassekar@gmail.com?Subject=Hello%20Srini">Contact</a></li>
        </ul>
        <a href="/write"><h3 class="muted">blnkpg</h3></a>
      </section>

      <hr>

    </div>

      <!-- MainContent
      ================================================== -->
      {% block content %}{% endblock %}
      <!-- MainContent
      ================================================== -->

    

    

    <script type="text/javascript">
    $(function() {

    });
      
    </script>

  </body>

</html>
