{% extends "base.html" %}

{% block content %}

  <form action="/write" method="post" accept-charset="utf-8">{% csrf_token %}

  <div id="composer-container" class="container">    
    <section id="content-zone">
      <textarea name="content" id="txtarea-composed-content" class="default-mood-all" autofocus="autofocus"></textarea>    
    </section>
    <a id="btn-publish" class="btn btn-info" href="#modal-publish" data-toggle="modal"><i class="icon-upload icon-white"></i>  publish</a>    
  </div>


  <!-- Modal - Publish -->
  <div id="modal-publish" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">      
      <h3 id="myModalLabel">Ready to Publish?<i class="icon-upload"></i></h3>
    </div>
    <div class="modal-body">      
      <p>Hitting the Publish button below will produce a public URL</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Not Yet</button>
      <button type="submit" class="btn btn-info"><i class="icon-upload icon-white"></i> Publish</button>
    </div>
  </div>

  </form>

  <section id="content-metrics" class="pull-right">
    <!-- <span id="badge-words" class="label">10</span> words -->
    <span id="badge-characters" class="label">&nbsp;</span> chars
    <!-- <span id="badge-sentences" class="label">4</span> sentences -->
    <span id="badge-readingtime" class="label ">&nbsp;</span>
  </section> 

  
  <aside class="tools">        
    <a id="btn-mood"><!-- <i class="icon-wrench"></i> -->Settings</a>  
    <ul id="moods">
      <li id="mood-default">default</li>
      <li id="mood-newspaper">newspaper</li>
      <li id="mood-novel">novel</li>
      <li id="mood-ebook">ebook</li>
      <li id="mood-night">night</li>
      <li id="app-actions">
        
        <a id="btn-focus" data-toggle="button" class="btn btn-inverse" href="#modal-focus" data-toggle="modal"><i class="icon-eye-open icon-white"></i>  focus</a> 
      </li>
    </ul>
  </aside>


  <script type="text/javascript">
  $(function() {

    var characterCount = 0,
        wordCount = 0,
        sentenceCount = 0,
        readingTime = 0;     
    $("#badge-characters").text(characterCount);
    $("#badge-words").text(wordCount);
    $("#badge-sentences").text(sentenceCount);
    $("#badge-readingtime").text(readingTime);

    function expandTextarea(id) {
        var $element = $('#txtarea-composed-content').get(0); 
        
        $element.addEventListener('keyup', function(e) {

          // Remembers current vertical position of the scroll.
          var tempScrollTop = $(window).scrollTop();

          var ev = e || event;
          //console.log(ev.keyCode);
          // characterCount: on every keystroke
          characterCount += 1;          
          $("#badge-characters").text(characterCount);

          // wordCount: on space key or period
          if (ev.keyCode == 32) {
            wordCount += 1;            
            $("#badge-words").text(wordCount);
          }

          // sentenceCount: check for period character '.'
          if (ev.keyCode == 190) {
            sentenceCount += 1;
            wordCount += 1;
            $("#badge-words").text(wordCount);
            $("#badge-sentences").text(sentenceCount);                       
          }

          // automatically increase text area
          this.style.overflow = 'hidden';
          this.style.height = 0;
          this.style.height = this.scrollHeight + 'px';

          readingTime = Math.floor(this.scrollHeight / 10); 
          $("#badge-readingtime").text(readingTime+" secs");
          console.log(this.style.height);

          // Resets current vertical position of scroll
          // prevents scrollback on keystroke
          $(window).scrollTop(tempScrollTop);

          //e.preventDefault();

        }, false);
    }

    expandTextarea('txtarea-composed-content');

    $("#content-zone").slideDown("slow");  

    $("#mood-newspaper").click(function() {
      $('#txtarea-composed-content').removeClass().addClass('newspaper-all');
      $('#modal-focused-txtarea').removeClass().addClass('newspaper-all');
      $('body').css("background","#FDFDFD");
    });
    $("#mood-novel").click(function() {
      $('#txtarea-composed-content').removeClass().addClass('novel-all');
      $('#modal-focused-txtarea').removeClass().addClass('novel-all');
      $('body').css("background","#F4EED9");
    });
    $("#mood-ebook").click(function() {
      $('#txtarea-composed-content').removeClass().addClass('ebook-all');
      $('#modal-focused-txtarea').removeClass().addClass('ebook-all');
      $('body').css("background","#EDEBE8");
    });
    $("#mood-night").click(function() {
      $('#txtarea-composed-content').removeClass().addClass('night-all');
      $('#modal-focused-txtarea').removeClass().addClass('night-all');
      $('body').css("background","#323A40");
    });  
    $("#mood-default").click(function() {
     $('#txtarea-composed-content').removeClass().addClass('default-mood-all');
     $('#modal-focused-txtarea').removeClass().addClass('default-mood-all');
     $('body').css("background","#FAFAFA");
    });

     $("#btn-focus").click(function() {
      $('.masthead, #content-metrics, #btn-publish').slideToggle();
    });

  });
    
  </script>

 {% endblock %}