{% extends "base.html" %}

{% block content %}

      <section class="jumbotron">                
        <h1>Scribe. Publish. Inspire.</h1>
        <p class="lead">
          Manifest inspired thoughts and publish to the world.
        </p>
        <a id="btn-write-now" class="btn btn-large btn-info" href="/write"><i class="icon-pencil icon-white"></i>  write now</a>
      </section>
     


    <script type="text/javascript">
    $(function() {    
      //in-page js
    });
      
    </script>

{% endblock %}